<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/Public/css/amazeui.min.css" />
		<link rel="stylesheet" href="/Public/css/admin.css" />
	</head>

	<body>
		<div class="admin-content-body">
			<div class="am-cf am-padding am-padding-bottom-0">
				<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">文章管理</strong><small></small></div>
			</div>

			<hr>

			<div class="am-g">
				<div class="am-u-sm-12 am-u-md-6">
					<div class="am-btn-toolbar">
						<div class="am-btn-group am-btn-group-xs">
							<button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span><a href="index.php?p=Admin&c=Art&a=artadd">新增</a></button>
						</div>
					</div>
				</div>
				<div class="am-u-sm-12 am-u-md-3">

				</div>
				<div class="am-u-sm-12 am-u-md-3">
					<div class="am-input-group am-input-group-sm">
						<input type="text" class="am-form-field">
						<span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
					</div>
				</div>
			</div>
			<div class="am-g">
				<div class="am-u-sm-12">
					<form class="am-form">
						<table class="am-table am-table-striped am-table-hover table-main">
							<thead>
								<tr>
									<th class="table-check"><input type="checkbox"></th>
									<th class="table-id">ID</th>
									<th class="table-title">标题</th>
									<th class="table-type">类别</th>
									<th class="table-author am-hide-sm-only">缩略图</th>
									<th class="table-date am-hide-sm-only">修改日期</th>
									<th class="table-set">操作</th>
								</tr>
							</thead>
							<tbody>
								<?php foreach($art as $v){?>
								<tr>
									<td><input type="checkbox"></td>
									<td><?php echo $v['id'];?></td>
									<td>
										<a href="#"><?php echo $v['title'];?></a>
									</td>
									<td><?php echo $v['name'];?></td>
									<td class="am-hide-sm-only"><img src="/Public/uploads/<?php echo $v['pic'];?>" style="width: 100px;height: 100px;"></td>
									<td class="am-hide-sm-only"><?php echo date('Y-m-d',$v['pubtime']);?></td>
									<td>
										<div class="am-btn-toolbar">
											<div class="am-btn-group am-btn-group-xs">
												<a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="index.php?p=Admin&c=Art&a=artedit&id=<?php echo $v['id'];?>" style="background-color: #fff;"><span class="am-icon-pencil-square-o"></span>编辑</a>
												<a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" href="index.php?p=Admin&c=Art&a=artdel&id=<?php echo $v['id'];?>" onClick="return confirm('您确认要删除这条记录吗?')" style="background-color: #fff;"><span class="am-icon-trash-o"></span>删除</a>
											</div>
										</div>
									</td>
								</tr>
								<?php } ?>
							</tbody>
						</table>
						<div class="am-cf"> 
		 							共 <?php echo $count;?> 条记录
		 							<div class="am-fr">
		 								<ul class="am-pagination">
		 									<li class="am-disabled">
		 										<a href="index.php?p=Admin&c=Art&a=artlist&pageno=1">首页</a>
		 									</li>
		 									<li>
		 										<a href="index.php?p=Admin&c=Art&a=artlist&pageno=<?php echo $pageno-1;?>">上一页</a>
		 									</li>
		 									<?php for($i=$pageno-2;$i<$pageno+3;$i++){if($i<1)continue;if($i>$pagecount)break;?>
		 									<li <?php if($i==$pageno)echo 'class="am-active"';?>'>
		 										<a href="index.php?p=Admin&c=Art&a=artlist&pageno=<?php echo $i;?>"><?php echo $i;?></a>
		 									</li>
		 									<?php } ?>
		 									<li>
		 										<a href="index.php?p=Admin&c=Art&a=artlist&pageno=<?php echo $pageno+1;?>">下一页</a>
		 									</li>
		 									<li>
		 										<a href="index.php?p=Admin&c=Art&a=artlist&pageno=<?php echo $pagecount;?>">末页</a>
		 									</li>
		 								</ul>
		 							</div>
	 						</div>
						<hr>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>